@model IEnumerable<AndreyProg.Models.Book>
@{
    //ViewData["Title"] = "Home Page";
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Book store</title>
    </head>
    <body>
        <table>
            <tr>
                <td>Book's name </td>
                <td>Author </td>
                <td>Price </td>
            </tr>
            @foreach(var book in ViewBag.Books)
            {
                <tr>
                    <td>@book.Name </td>
                    <td>@book.Author </td>
                    <td>@book.Price </td>
                    <td href="~home/Buy/@book.Id">Buy</td>
                </tr>
            }
        </table>
    </body>
</html>
